html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
}

:root {
    --maincolor:
}

.head {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #F8F6EF;
}

.mohammed {
    background-color: #F8F6EF;
    width: 105px;
    font-weight: bolder;
    border: 2px solid black;
    height: 30px;
    line-height: 1.6;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
}

.yousif {
    padding-left: 4px;
    background-color: #791C2E;
    color: white;
    height: 30px;
    width: 60px;
    text-align: start;
    line-height: 1.8;
    position: absolute;
    left: 124px;
    font-weight: bolder;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }

    .describ {
        font-size: 12px;
    }

    .card {
        transform: translate(20px, -18px);
        margin-top: 10%;
    }

    .projects {
        top: 140%;
    }

    .pro {
        margin-left: 20%;
    }

    .no {
        margin-left: 15%;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }

    .card {
        transform: translate(20px, -18px);
        margin-top: 10%;
    }

    .projects {
        top: 140%;
    }

    .pro {
        margin-left: 20%;
    }

    .no {
        margin-left: 15%;
    }
}

.icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    justify-content: flex-end;
    position: absolute;
    top: 18px;
    right: 20px;
    margin-right: 0;

}

.icon span {
    margin-bottom: 5px;
    border: 2px solid black;
    width: 100%;
    height: 0;
}

.icon span:nth-child(2) {
    width: 50%;
    transition: 0.5s;
    /* right: ; */
}

.links {
    position: absolute;
    right: 12px;
    top: 70px;
}

ul {
    list-style: none;
    display: none;
}

ul li:not(:nth-child(4)) {
    background-color: #F8F6EF;
    margin-bottom: 0;
    border-bottom: 2px solid #ddd;
    width: 200px;
    padding: 15px 15px 15px 10px;
    transition: 0.5s;
    font-weight: bold;
}

ul li:nth-child(4) {
    background-color: #F8F6EF;
    margin-bottom: 0;
    width: 200px;
    padding: 15px 15px 15px 10px;
    font-weight: bold;
    transition: 1s;
    z-index: 1;
}

.icon:hover span:nth-child(2) {
    width: 100%;
}

.Links {
    width: 30px;
    height: 200px;
}

.hover:hover ul {
    display: inline;
}

ul li:hover {
    padding-left: 20px;
}

.links::after {
    content: "";
    width: 0%;
    height: 0%;
    border-color: transparent transparent #F8F6EF transparent;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    position: absolute;
    top: -19px;
    right: 4px;
}

/* about */

.about {
    background-color: #791C2E;
    height: 93.3vb;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto;
    grid-template-areas:
        "head head"
        "card desc";
    justify-content: center;
    width: 100%;
    top: 60px;
}

.describ {
    height: 85%;
    margin-top: 45px;

}

@media (max-width:767px) {
    .describ {
        font-size: 16px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:767px) {
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto;
        grid-template-areas: "head" "card" "desc";
        height: 129vb;
    }
}

@media (max-width: 767px) {
    .card {
        /* margin-left: 5%; */
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%);
    }
}

@media (max-width: 767px) {
    .describ {
        position: absolute;
        top: 50%;
    }
}

@media (min-width:1000px) {
    .card::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 350px;
        right: 690px;
        background-color: #F8F6EF;

    }
}

.about img {
    position: absolute;
    width: 350px;
    border-radius: 50%;
}

.card {
    width: 350px;
    height: 350px;
    background-color: #F8F6EF;
    border-radius: 50%;
    grid-area: card;
    margin-left: 0;
    box-shadow: 0 5px 65px 0;

}

.about .header2 {
    justify-self: center;
    grid-area: head;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 2%;
    color: #F8F6EF;
    opacity: 0.5;
}

.describ h3 {
    grid-area: desc;
    margin: 0;
    color: #F8F6EF;
    opacity: 0.5;
    position: relative;
    padding-left: 15px;
}

.describ h4 {
    color: #F8F6EF;
    opacity: 0.5;
    margin-left: 30px;

}

.describ p {
    color: black;
    margin-left: 15px;
    opacity: 0.7;
}

.describ h3::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
    top: 6px;
    left: 3px;
}

.describ .c {
    margin-left: 40px;
    position: relative;
}

.describ .c::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 5px solid #F8F6EF;
    border-color: transparent transparent transparent #F8F6EF;
    top: 4px;
    left: -8px;
}

.describ .html::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 5px solid #F8F6EF;
    border-color: transparent transparent transparent #F8F6EF;
    top: 4px;
    left: -8px;
}

.describ .css::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 5px solid #F8F6EF;
    border-color: transparent transparent transparent #F8F6EF;
    top: 4px;
    left: -8px;
}

.describ .html {
    margin-left: 40px;
    position: relative;
}

.describ .css {
    margin-left: 40px;
    position: relative;
}

.projects {
    display: flex;
    height: 30vb;
    width: 750px;
    padding: 0;
    position: absolute;
    bottom: -19%;
    max-width: 100%;
}

.pro {
    width: fit-content;
    position: absolute;
    top: 55%;
    left: 15%;
    text-align: center;
    font-size: 45px;
    color: #791C2E;
}

.no {
    position: absolute;
    font-size: 45px;
    font-weight: bolder;
    left: 10%;
    opacity: 1;
    color: #F8F6EF;
    display: flex;
    flex-direction: column;
    background-color: #791C2E;
    padding: 30px;
    justify-content: center;
    top: 89%;
}

.fa-solid {
    display: none;
}

.Contact {
    max-width: 100%;
    position: absolute;
    bottom: -98%;
    height: 20%;
}

.cont {
    font-size: 35px;
    font-weight: bold;
    color: #791C2E;
    transform: translate(90px, -280px);
    width: fit-content;
    opacity: 1;
}

.word {
    font-size: 15px;
    font-weight: bold;
    transform: translate(76px, -280px);
    width: fit-content;
    opacity: 0.5;
}

.social {
    transform: translate(56px, -225px);
    width: 150%;
}

.social a {
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #791C2E;
    padding: 20px;
    padding-left: 60px;
    border-radius: 5%;
}

.social i {
    transform: translate(37px, -37px);
    width: fit-content;
    color: #F8F6EF;
}

/* footer */
.footer {
    background-color: #791C2E;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: -112%;
    padding-left: 20%;
    padding-top: 10%;
}

.footer .copy {
    transform: translate(25%, 80%);
    width: 50%;
}

.footer .des {
    transform: translate(0px, -115%)
}

.footer .hamo {
    transform: translate();
}

.fa-solid {
    --fa-style: 900;
    letter-spacing: 10px;
    transform: translate(-94%, 10px);
}